<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="sideMenu">
<head>
</head>
<body>
<ul class="nav nav-pills nav-stacked">
    <li class="active">
        <a href="/greeting">Strona Główna</a>
    </li>
    <li  class="">
        <a href="/addCircle">Dodaj Krąg</a>
    </li>
    <li class="">
        <a href="#">Sub</a>
    </li>
    <li class="">
        <a href="#">Sub</a>
    </li>
    <li class="">
        <a href="#">Sub</a>
    </li>
    <li class="">
        <a href="#">Sub</a>
    </li>
    <li class="">
        <a href="#">Sub</a>
    </li>
</ul>
</body>
</html>