<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="sideMenu">
<head>
</head>
<body>
<ul class="nav nav-pills nav-stacked">
    <li class="active">
        <a href="#">Panel Admina</a>
    </li>
    <li id="singIn" class="">
        <a href="#">Zaloguj/Rejestruj</a>
    </li>
    <li class="">
        <a href="#">Główna</a>
    </li>
    <li class="">
        <a href="#">Najnowsze</a>
    </li>
    <li class="">
        <a href="#">Zaakceptowane</a>
    </li>
    <li class="">
        <a href="#">Formularz Kontaktowy</a>
    </li>
    <li class="">
        <a href="#">Dodaj</a>
    </li>
</ul>
</body>
</html>