body
{
    overflow:visible !important;
}

.panel-group .panel + .panel {
    margin-top: 0px;
}

#mainPanel {
    /*background-color: rgba(0, 0, 0, 0.3);*/
    font-weight: bold;
    margin-bottom: 5px;
}

.panel {
    margin-bottom: 0px;
}

.panel-body {
    padding: 15px;
}

.jumbotron {
    /*padding-top: 1px;*/
    /*padding-bottom: 1px;*/
    padding: 1px;
}
.circle
{
    margin-left: 10px !important;
    margin-right: 10px !important;
}

h3 {

}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.fab {
    margin: 20px 50px 10px 20px;
    top: auto;
    right: 10px;
    bottom: 20px;
    left: auto;
    position: fixed;
}
.buttonUnderFab
{
    margin-Top:0;
}

.dialog {
    border-Top: 1px solid rgb(90, 90, 90);
}
.qrButton
{
    padding-left: 0px !important;
    width: 0 !important;
}
.qrImage {
    padding: 8px 8px 8px 8px !important;
}
img
{
    padding: 0 !important;
}