.nav-pills
{
    /*background-color: #6fc7d8;*/
    border-color: #6fc7d8;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    border-radius: 5px;
    /*border: solid;*/
}
.nav > li > a
{
    color: #fff;
}
.nav>li>a:hover
{
    background-color: #6fc7d8;
    color: #fff;
}
.nav>li>a:focus
{
    background-color: #6fc7d8;
    color: #475057;
}
.nav-pills>li.active>a
{
    background-color: #6fc7d8;
    color: #475057;
}
.nav-pills>li.active>a:hover
{
    background-color: #FFF;
    color: #6fc7d8;
}