<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">
</head>
<body>
<div th:include="fragments/navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:include="fragments/sideMenu::sideMenu">

            </div>
        </div>
        <div class="col-md-8">
            <p th:text="'Hello, ' + ${name} + '!'"/>
            <div th:each="item,iter : ${circleName}">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <th:block th:text="${circleName[iter.index]}"></th:block>
                            <span style="float:right"> <th:block th:text="${circlePublishDate[iter.index]}"></th:block></span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <th:block th:text="${circleDescription[iter.index]}"></th:block>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

<footer th:include="fragments/footer::footer"></footer>
</body>
</html>