<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">
</head>
<body>
<div th:include="fragments/navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:include="fragments/sideMenu::sideMenu">

            </div>
        </div>
        <div class="col-md-8">

            <div th:each="item,iter : ${topicName}">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a th:href="@{{topicName}/{topicId}(topicId=${topicId[iter.index]},topicName=${topicName[iter.index]})}">
                                <th:block th:text="${topicName[iter.index]}"></th:block>
                            </a>
                            <span style="float:right"> <th:block th:text="${topicPublishDate[iter.index]}"></th:block></span>
                        </h3>
                    </div>
                    <!--<div class="panel-body">-->
                        <!--&lt;!&ndash;<th:block th:text="${circleDescription[iter.index]}"></th:block>&ndash;&gt;-->
                    <!--</div>-->

                </div>
            </div>
            <form role="form" action="#" th:action="@{{currentCircle}/proccessAdding(currentCircle=${currentCircle})}" th:object="${topicEntity}" method="post">
                <div class="form-group">

                    <label>
                        Nazwa Tematu
                    </label>
                    <input type="text" class="form-control"  th:field="*{name}"/>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" /> Akceptuje Regulamin {Link do Regulaminu}
                    </label>
                </div>
                <button type="submit" class=" btn btn-default">
                    Submit
                </button>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

<footer th:include="fragments/footer::footer"></footer>
</body>
</html>